
* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

.body-dark{
    background-color: #000000;
    color: #FFFFFF;
}


/*nav*/

.flex {
	display: flex;
}

.justify-center {
    
    align-items: center;
    flex-direction: row;
	justify-content: center;
}
.nav{
    display: flex;
    align-self: center;
    width: 100%;
    height: 15vh;
    background-color: #FF6B6B;
}

.nav__png:hover{
    animation: logoRotation 1s normal ease-in-out;
}
@keyframes logoRotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.nav__ul{
    width: 100%;
}
.nav__item a{
    font-size: 20px;
    font-family: "Roboto";
    color: black;
    padding: auto;
    margin-right: 40px;
}

.nav__item a:hover{
    color: #fff;
    transition: 1.5s;
}
.nav__ul li{
    display: inline;
}

.nav-button{
    background: #fff;
    border-radius: 20px;
    font-size: 20px;
}
.nav-button a:hover{
    color: #fff;
    transition: 1s;
}
.nav-button:hover{
    background: #555;
    transition: 1s;
}

.light{
    background-color: #FFF;
    width: 100px;
}
.light a{
    color: #000;
}



/*main*/

.main__title{
    text-align: center;
    font-family: "Roboto";
    padding: 20px;
}

.main__recipes-element{
   display: flex;
   flex-direction: column;
   width: 30%;
   padding: 30px;
   align-self: start;
   justify-content: center;
}
.recipes{
   border: #FF6B6B;
   border-radius: 20px;
}

.main__img{
    width: 300px;
    height: 150px;
}
.main__recipes{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

h1, h2, h3, h4{
    font-family: "Roboto";
}
h4{
    font-weight: light;
   font-size: 16px;
}

@media (max-width: 475px) {
    .nav{
        height: 5vh;
    }
    .nav__item a{
        font-size: 14px;
    }
    .main__title-h1{
        font-size: 18px;
    }
    .main__title-h2{
        font-size: 15px;
    }
    .main__img{
        width: 150px;
        height: 75px;
    }
    .main__recipes{
        display: flex;
        flex-direction: column;
    }
    
    .main__recipes-element{
        display: flex;
        width: 350px;
        padding: 15px;
        justify-content: center;
     }
    h3{
        font-size: 15px;
    }
    h4{
        font-size: 13px;
    }

}

/*footer*/

footer{
    background: #FF6B6B;
    color: #fff;
    font-size: 16px;
    font-family: "Roboto";
}