
* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

/*nav*/

.flex {
	display: flex;
}

.justify-center {
    
    align-items: center;
    flex-direction: row;
	justify-content: center;
}
.nav{
    width: 100%;
    height: 15vh;
    background-color: #FF6B6B;
}

.nav__ul{
    width: 100%;
}
.nav__item a{
    font-size: 20px;
    font-family: "Roboto";
    color: black;
    padding: auto;
    margin-right: 40px;
}

.nav__item a:hover{
    color: #fff;
    transition: 1.5s;
}
.nav__ul li{
    display: inline;
}

.nav-button{
    border-radius: 20px;
    font-size: 20px;
}

.light{
    background-color: #FFF;
    width: 100px;
    border-color: #fff;
    width: 160px;
}
.light a{
    color: #000;
}

.dark{
    background-color: #000;
    width: 100px;
    border-color: #000;
    width: 160px;
}
.dark a{
    color: #fff;
}

/*main*/

.main__title{
    color: black;
    text-align: center;
    font-family: "Roboto";
    padding: 20px;
}

.main__recipes-element{
   display: flex;
   flex-direction: column;
   width: 30%;
   padding: 30px;
   align-self: start;
}
.recipes{
   border: #FF6B6B;
   border-radius: 20px;
}

.main__img{
    width: 200px;
}
.main__recipes{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

h1, h2, h3, h4{
    font-family: "Roboto";
}
h4{
    font-weight: light;
   font-size: 16px;
}
/*.main__img{
    float: left;
    margin: 5px 5px 5px 0;
}*/


/*footer*/

footer{
    font-size: 16px;
    font-family: "Roboto";
}